.main {
  display: flex;
  justify-content: center;
  background-color: var(--background-primary);
  padding: 0 16px;
}

.main__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

@media screen and (max-width: 800px) {
  .main__content {
    gap: 64px;
  }
}

@media screen and (max-width: 800px) {
  /* .main {
    padding: 0 16px;
  } */

  .main__content {
    gap: 32px;
  }
}
