.buttons {
  display: flex;
  margin: 0;
  width: 70%;
  gap: 30px;
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;

  width: min(400px, 100%);
  height: clamp(35px, 4vw, 50px);

  text-decoration: none;
  color: black;
  background: white;

  border: 2px solid #000080;
  border-radius: 999px;

  cursor: pointer;

  font-size: clamp(18px, 1.7vw, 32px);

  margin-top: 25px;

  transition: color 0.35s ease;

  z-index: 0;
  text-align: center;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;

  background: #000080;

  transform: translateX(-100%);

  transition: transform 0.35s ease;

  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}

.button:hover {
  color: white;
}

.discover {
  position: absolute;
  bottom: 20px;
  font-size: clamp(16px, 1.5vw, 20px);
}

.subtitle_questions {
  text-align: center;
}

/* =========================
      REASONS
========================= */

.reasons {
  display: grid;

  grid-template-columns: repeat(4, minmax(200px, 1fr));

  gap: clamp(15px, 2vw, 30px);

  margin-top: clamp(30px, 4vw, 50px);
}

.reason {
  border: 1px solid black;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: clamp(10px, 1.5vw, 15px);
}

.reason__icon {
  width: clamp(25px, 3vw, 40px);

  margin-bottom: clamp(8px, 1vw, 10px);
}

.reason__title {
  display: flex;

  align-items: center;
  justify-content: center;

  min-height: clamp(35px, 3vw, 50px);

  margin: 0 0 10px;

  text-align: center;

  font-size: clamp(18px, 1.4vw, 34px);
}

.reason__description {
  margin: 0;

  text-align: center;

  font-size: clamp(15px, 1.2vw, 24px);

  line-height: 1.4;
}

/* =========================
      PROCESS
========================= */

.process {
  display: grid;

  grid-template-columns: repeat(4, minmax(200px, 1fr));

  gap: clamp(20px, 3vw, 50px);

  margin-top: clamp(30px, 4vw, 50px);
}

.process__step {
  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;
}

.process__number {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.process__icon {
  width: clamp(35px, 4vw, 50px);

  display: block;
}

.process__title {
  margin: clamp(15px, 2vw, 25px) 0 10px;

  min-height: clamp(40px, 4vw, 60px);

  font-size: clamp(20px, 1.5vw, 28px);
}

.process__text {
  margin: 0;

  max-width: 250px;

  font-size: clamp(16px, 1.2vw, 24px);

  line-height: 1.4;
}

.process__arrow {
  display: none;
}

/* =========================
      TABLET
========================= */

@media screen and (max-width: 1000px) {
  .reasons {
    grid-template-columns: repeat(2, minmax(200px, 1fr));

    margin-top: 30px;
  }

  .process {
    grid-template-columns: repeat(2, minmax(200px, 1fr));

    margin-top: 30px;
  }

  .reason__icon {
    width: 30px;
  }

  .process__title {
    min-height: 0;

    font-size: clamp(18px, 3vw, 28px);
  }

  .process__text {
    max-width: 100%;

    font-size: clamp(14px, 2.5vw, 22px);
  }
}

/* =========================
      MOBILE
========================= */

@media screen and (max-width: 800px) {
  .buttons {
    width: 100%;

    justify-content: center;
  }

  .button {
    max-width: 200px;

    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .buttons {
    margin-top: 10px;

    flex-direction: column;

    align-items: center;

    gap: 0;
  }

  .button {
    margin-top: 15px;
  }

  .reasons {
    grid-template-columns: 1fr;

    gap: 15px;

    margin-top: 20px;
  }

  .reason__icon {
    width: 25px;
  }

  .reason__title {
    font-size: 18px;
  }

  .reason__description {
    font-size: 16px;
  }

  .process {
    grid-template-columns: 1fr;

    gap: 20px;

    margin-top: 20px;
  }

  .process__title {
    font-size: 26px;
  }

  .process__text {
    font-size: 22px;
  }

  .process__arrow_active {
    display: flex;

    margin: auto;

    width: 60px;
  }
}
