:root {
  --header-height: 80px;
  --max-width: 1400px;

  /* Colors */
  /* background */
  --color-background: #f8fafc;
  /* Texto */
  --color-text-strapline: #1d4ed8;
  --color-text-title: #333333;
  --color-text-description: #666666;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
  --spacing-4xl: 80px;

  /* Typography */
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 22px;
  --font-lg: 28px;
  --font-xl: 40px;
  --font-2xl: 70px;
  --font-3xl: 80px;

  /* Icons */
  --icon-xs: 16px;
  --icon-sm: 24px;
  --icon-md: 40px;
  --icon-lg: 50px;

  /* Border radius */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-full: 50%;

  /* Heights */
  --height-sm: 40px;
  --height-md: 48px;
  --height-lg: 64px;

  /* Shadows */
  --shadow-sm: 0 8px 20px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 8px 20px rgba(15, 23, 42, 0.06);
  --shadow-lg: 0 12px 30px rgba(15, 23, 42, 0.12);
  --shadow-xl: 0 20px 50px rgba(0, 0, 0, 0.25);
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}
