.header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1.5rem 2rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border: 1px solid red;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}
