.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  height: 80px;
  background-color: var(--background-secondary);
}

.button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.flag {
  width: 66px;
}

@media screen and (max-width: 1000px) {
  .flag {
    width: 40px;
  }
}
