.testimonials {
  width: 80%;
  margin: 30px auto 0;
  padding-inline: 20px;
  overflow: hidden;
}

:global(.swiper) {
  overflow: visible;
  padding-bottom: 60px;
}

.card {
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;

  align-items: center;
  opacity: 0.25;
  transform: scale(0.8);

  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}

.shadowEffect {
  background: white;
  height: 350px;
  padding: 20px;
  width: 100%;

  text-align: center;

  border-radius: 20px;

  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.02);
}

.shadowEffect p {
  line-height: 1.6;
  font-size: 24px;
  font-size: clamp(20px, 5vw, 24px);
  color: #333333;
}

.avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;

  object-fit: cover;

  display: block;

  margin: 0 auto 20px;
}

.name {
  display: table;

  margin: -18px auto 0;

  padding: 10px 34px;

  border-radius: 14px;

  background: #666666;

  color: white;

  font-weight: 600;

  box-shadow:
    0 9px 18px rgba(0, 0, 0, 0.12),
    0 5px 7px rgba(0, 0, 0, 0.05);
}

:global(.swiper-slide-active) .card {
  opacity: 1;
  transform: scale(1);
}

:global(.swiper-pagination) {
  bottom: 0 !important;
}

:global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;

  background: #c9a84c;

  opacity: 0.4;
}

:global(.swiper-pagination-bullet-active) {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .shadowEffect {
    width: 90%;
  }
}
